<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} | {{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.description }}">
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
</head>
<body>
  <header>
    <nav>
      <a href="{{ '/' | relative_url }}">Home</a>
      <a href="{{ '/about' | relative_url }}">About</a>
      <a href="{{ '/contact' | relative_url }}">Contact</a>
      <a href="{{ '/blog' | relative_url }}">Blog</a>
      <a href="{{ '/newsletter' | relative_url }}">Newsletter</a>
      <a href="{{ '/beta' | relative_url }}">Beta Test</a>
      <a href="{{ '/user-guide' | relative_url }}">User Guide</a>
    </nav>
  </header>
  <main>
    {{ content }}
  </main>
  <footer>
    <div class="social-links">
      <a href="https://www.facebook.com/3mpowrapp" target="_blank" rel="noopener noreferrer">Facebook</a>
      <a href="https://x.com/3mpowrApp0816" target="_blank" rel="noopener noreferrer">X (Twitter)</a>
      <a href="https://www.instagram.com/3mpowrapp/" target="_blank" rel="noopener noreferrer">Instagram</a>
      <a href="https://docs.google.com/forms/d/e/1FAIpQLScY599ZYJtpRakd421ADGZumejk2WjmbVvpUknw2uHAzTNx9A/viewform?usp=header" target="_blank" rel="noopener noreferrer">Beta Testers Sign Up</a>
    </div>
    <p>&copy; {{ site.time | date: '%Y' }} 3mpowr App</p>
  </footer>
</body>
</html>
